name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # Verander dit naar 'master' als je hoofdtak zo heet

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # De map die Webpack aanmaakt (check even of dit dist is)
          branch: gh-pages # De actie maakt deze branch voor je aan
